input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
    border: 1px solid red;
}
input.ng-valid,
textarea.ng-valid {
    border: 1px solid green;
}
.recipe-image {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}