<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe?.imagePath" class="img-responsive thumbnail">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" [disabled]="!recipe">Manage<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><button class="btn btn-success" [disabled]="!recipe" (click)="addIngredients()">Add to shopping List</button></li>
                <li><button class="btn" [disabled]="!recipe">Edit</button></li>
                <li><button class="btn btn-danger" [disabled]="!recipe">Delete</button></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p *ngFor="let ingredient of (recipe?.ingredients || {}) | keyvalue">{{ingredient.value.amount}}{{ingredient.value.unit}}
            {{ingredient.key}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p *ngFor="let line of (recipe?.preparation?.split('\n') || [])">{{line}}</p>
    </div>
</div>