<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-left">
                <div class="btn-group" style="display: inline-flex">
                    <button class="btn btn-success glyphicon glyphicon-th-list"
                        (click)="recipeBook.addIngredientsToShoppingList(currentRecipe)"></button>
                    <button class="btn btn-primary glyphicon glyphicon-pencil" routerLink="edit"></button>
                    <button class="btn btn-danger glyphicon glyphicon-remove"
                        (click)="recipeBook.delete(currentRecipe)"></button>
                </div>
            </div>
            <strong class="text-center media-body" style="font-size: 20px; vertical-align: middle;">
                {{currentRecipe.name}}
            </strong>
        </div>
    </div>
    <div class="panel-body media">
        <img [src]="currentRecipe.imagePath" class="media-body img-responsive thumbnail recipe-image">
        <div class="media-bottom">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredients">
                    <span class="list-group-item-heading col-xs-1">
                        {{ingredient.amount.amount}}{{ingredient.amount.unit}}
                    </span>
                    <span class="list-group-item-text">{{ingredient.name}}</span>
                </li>
            </ul>
            <p *ngFor="let line of currentRecipe.preparation.split('\n')">{{line}}</p>
        </div>
    </div>
</div>