<div class="row">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="row">
            <div class="col-sm-8 form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" disabled [value]="ingredient.name">
            </div>
            <div class="form-group col-sm-2">
                <label for="amount">Amount</label>
                <input type="number" min="1" name="amount" required class="form-control"
                    [ngModel]="ingredient.amount.amount">
            </div>
            <div class="form-group col-sm-2">
                <label for="unit">Unit</label>
                <select name="unit" class="form-control" (change)="onUnitChange(form)" [ngModel]="ingredient.amount.unit">
                    <option value="" *ngIf="isConvertable(ingredient.amount.unit, '')">Count</option>
                    <ng-template ngFor let-unit [ngForOf]="units | keyvalue">
                        <option *ngIf="isConvertable(ingredient.amount.unit, unit.key)" [value]="unit.key">{{unit.key}}</option>
                    </ng-template>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Set</button>
                <button class="btn btn-danger" type="button" (click)="onDeleteClicked()">Delete</button>
            </div>
        </div>
    </form>
</div>