<div class="row">
    <div class="col-sm-12">
        <app-shopping-list-edit [editIngredient]="selectedIngredient"></app-shopping-list-edit>
        <hr>
        <ul class="list-group list-unstyled">
            <li class="list-group-item btn btn-default" (click)="selectIngredient(ingredient.key)" *ngFor="let ingredient of shoppingList.items | keyvalue">
                <app-shopping-item [ingredient]="ingredient.key" [amount]="ingredient.value"></app-shopping-item>
            </li>
        </ul>
    </div>
</div>